@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

body {
    font-family: 'Lato', sans-serif !important;
    background-color: rgb(209, 212, 203) !important;
}

.user-img {
    width: 150px;
    border-radius: 5%;
}